body {

}

header {
background-color: rgb(255, 136, 0);
margin-right: 20%;
margin-left: 10%;
}

.divarticle{
 margin-left: 10%;
 margin-right: 30%;
}

.nav-content {
margin-right: 5%;
padding: 10%;
}


nav {
  background-color:rgb(132, 0, 255);
  float: left;
  padding: 0.5em;
}

aside {
  float: right; 
   background-color: rgb(255, 0, 191);
}